body {
	margin: 0px;
}

@media screen and (min-width: 1024px) {

	.container-full {
		width: 100%;
	}
	
}

@media screen and (min-width: 1024px) {
	
	.title {
		text-align: center;
		font-family: "Agency FB";
	}
	
	.container,
	.container24 {
		width: 1280px;
		margin: auto;
	}
	
	.container div[class*=l],
	.container24 div[class*=l] {
		float: left;
	}
	
	/***************************************************************************
	 * 	SYSTEM 12
	 */
	
	.container .l-12 {
		width: 100%;
	}
	
	.container .l-11 {
		width: 91.66%;
	}
	
	.container .l-10 {
		width: 83.33%;
	}
	
	.container .l-9 {
		width: 75%;
	}
	
	.container .l-8 {
		width: 66.66%;
	}
	
	.container .l-7 {
		width: 58.33%;
	}
	
	.container .l-6 {
		width: 50%;
	}
	
	.container .l-5 {
		width: 41.66%;
	}
	
	.container .l-4 {
		width: 33.33%;
	}
	
	.container .l-3 {
		width: 25%;
	}
	
	.container .l-2 {
		width: 16.66%;
	}
	
	.container .l-1 {
		width: 8.33%;
	}
	
	/**
	 * 	OFFSET RIGHT RULES 12
	 */
	
	.container .l-1-offset-right {
		position: relative;
		left: 8.33%;
	}
	
	.container .l-2-offset-right {
		position: relative;
		left: 16.66%;
	}
	
	.container .l-3-offset-right {
		position: relative;
		left: 25%;
	}
	
	.container .l-4-offset-right {
		position: relative;
		left: 33.33%;
	}
	
	.container .l-5-offset-right {
		position: relative;
		left: 41.66%;
	}
	
	.container .l-6-offset-right {
		position: relative;
		left: 50%;
	}
	
	.container .l-7-offset-right {
		position: relative;
		left: 58.33%;
	}
	
	.container .l-8-offset-right {
		position: relative;
		left: 66.66%;
	}
	
	.container .l-9-offset-right {
		position: relative;
		left: 75%;
	}
	
	.container .l-10-offset-right {
		position: relative;
		left: 83.33%;
	}
	
	.container .l-11-offset-right {
		position: relative;
		left: 91.66%;
	}
	
	.container .l-12-offset-right {
		position: relative;
		left: 100%;
	}
	
	/**
	 * 	OFFSET LEFT RULES 12
	 */
	
	.container .l-1-offset-left {
		position: relative;
		right: 8.33%;
	}
	
	.container .l-2-offset-left {
		position: relative;
		right: 16.66%;
	}
	
	.container .l-3-offset-left {
		position: relative;
		right: 25%;
	}
	
	.container .l-4-offset-left {
		position: relative;
		right: 33.33%;
	}
	
	.container .l-5-offset-left {
		position: relative;
		right: 41.66%;
	}
	
	.container .l-6-offset-left {
		position: relative;
		right: 50%;
	}
	
	.container .l-7-offset-left {
		position: relative;
		right: 58.33%;
	}
	
	.container .l-8-offset-left {
		position: relative;
		right: 66.66%;
	}
	
	.container .l-9-offset-left {
		position: relative;
		right: 75%;
	}
	
	.container .l-10-offset-left {
		position: relative;
		right: 83.33%;
	}
	
	.container .l-11-offset-left {
		position: relative;
		right: 91.66%;
	}
	
	.container .l-12-offset-left {
		position: relative;
		right: 100%;
	}

	
	/***************************************************************
	 * 	SYSTEM 24
	 */
	
	.container24 .l-1 {
		width: 4.16%;
	}
	
	.container24 .l-2 {
		width: 8.33%;
	}
	
	.container24 .l-3 {
		width: 12.5%;
	}
	
	.container24 .l-4 {
		width: 16.66%;
	}
	
	.container24 .l-5 {
		width: 20.83%;
	}
	
	.container24 .l-6 {
		width: 25%;
	}
	
	.container24 .l-7 {
		width: 29.16%;
	}
	
	.container24 .l-8 {
		width: 33.33%;
	}
	
	.container24 .l-9 {
		width: 37.5%;
	}
	
	.container24 .l-10 {
		width: 41.66%;
	}
	
	.container24 .l-11 {
		width: 45.83%;
	}
	
	.container24 .l-12 {
		width: 50%;
	}
	
	.container24 .l-13 {
		width: 54.16%;
	}
	
	.container24 .l-14 {
		width: 58.33%;
	}
	
	.container24 .l-15 {
		width: 62.5%;
	}
	
	.container24 .l-16 {
		width: 66.66%;
	}
	
	.container24 .l-17 {
		width: 70.83%;
	}
	
	.container24 .l-18 {
		width: 75%;
	}
	
	.container24 .l-19 {
		width: 79.16%;
	}
	
	.container24 .l-20 {
		width: 83.33%;
	}
	
	.container24 .l-21 {
		width: 87.5%;
	}
	
	.container24 .l-22 {
		width: 91.66%;
	}
	
	.container24 .l-23 {
		width: 95.83%;
	}
	
	.container24 .l-24 {
		width: 100%;
	}
	
	/**
	 * 	OFFSET RIGHT RULES 24
	 */
	
	.container24 .l-1-offset-right {
		position: relative;
		left: 4.16%;
	}
	
	.container24 .l-2-offset-right {
		position: relative;
		left: 8.33%;
	}
	
	.container24 .l-3-offset-right {
		position: relative;
		left: 12.5%;
	}
	
	.container24 .l-4-offset-right {
		position: relative;
		left: 16.66%;
	}
	
	.container24 .l-5-offset-right {
		position: relative;
		left: 20.83%;
	}
	
	.container24 .l-6-offset-right {
		position: relative;
		left: 25%;
	}
	
	.container24 .l-7-offset-right {
		position: relative;
		left: 29.16%;
	}
	
	.container24 .l-8-offset-right {
		position: relative;
		left: 33.33%;
	}
	
	.container24 .l-9-offset-right {
		position: relative;
		left: 37.5%;
	}
	
	.container24 .l-10-offset-right {
		position: relative;
		left: 41.66%;
	}
	
	.container24 .l-11-offset-right {
		position: relative;
		left: 45.83%;
	}
	
	.container24 .l-12-offset-right {
		position: relative;
		left: 50%;
	}
	
	.container24 .l-13-offset-right {
		position: relative;
		left: 54.16%;
	}
	
	.container24 .l-14-offset-right {
		position: relative;
		left: 58.33%;
	}
	
	.container24 .l-15-offset-right {
		position: relative;
		left: 62.5%;
	}
	
	.container24 .l-16-offset-right {
		position: relative;
		left: 66.66%;
	}
	
	.container24 .l-17-offset-right {
		position: relative;
		left: 70.93%;
	}
	
	.container24 .l-18-offset-right {
		position: relative;
		left: 75%;
	}
	
	.container24 .l-19-offset-right {
		position: relative;
		left: 79.16%;
	}
	
	.container24 .l-20-offset-right {
		position: relative;
		left: 83.33%;
	}
	
	.container24 .l-21-offset-right {
		position: relative;
		left: 87.5%;
	}
	
	.container24 .l-22-offset-right {
		position: relative;
		left: 91.66%;
	}
	
	.container24 .l-23-offset-right {
		position: relative;
		left: 95.83%;
	}
	
	.container24 .l-24-offset-right {
		position: relative;
		left: 100%;
	}
	
	/**
	 * 	OFFSET LEFT RULES 24
	 */
	
	.container24 .l-1-offset-right {
		position: relative;
		right: 4.16%;
	}
	
	.container24 .l-2-offset-right {
		position: relative;
		right: 8.33%;
	}
	
	.container24 .l-3-offset-right {
		position: relative;
		right: 12.5%;
	}
	
	.container24 .l-4-offset-right {
		position: relative;
		right: 16.66%;
	}
	
	.container24 .l-5-offset-right {
		position: relative;
		right: 20.83%;
	}
	
	.container24 .l-6-offset-right {
		position: relative;
		right: 25%;
	}
	
	.container24 .l-7-offset-right {
		position: relative;
		right: 29.16%;
	}
	
	.container24 .l-8-offset-right {
		position: relative;
		right: 33.33%;
	}
	
	.container24 .l-9-offset-right {
		position: relative;
		right: 37.5%;
	}
	
	.container24 .l-10-offset-right {
		position: relative;
		right: 41.66%;
	}
	
	.container24 .l-11-offset-right {
		position: relative;
		right: 45.83%;
	}
	
	.container24 .l-12-offset-right {
		position: relative;
		right: 50%;
	}
	
	.container24 .l-13-offset-right {
		position: relative;
		right: 54.16%;
	}
	
	.container24 .l-14-offset-right {
		position: relative;
		right: 58.33%;
	}
	
	.container24 .l-15-offset-right {
		position: relative;
		right: 62.5%;
	}
	
	.container24 .l-16-offset-right {
		position: relative;
		right: 66.66%;
	}
	
	.container24 .l-17-offset-right {
		position: relative;
		right: 70.93%;
	}
	
	.container24 .l-18-offset-right {
		position: relative;
		right: 75%;
	}
	
	.container24 .l-19-offset-right {
		position: relative;
		right: 79.16%;
	}
	
	.container24 .l-20-offset-right {
		position: relative;
		right: 83.33%;
	}
	
	.container24 .l-21-offset-right {
		position: relative;
		right: 87.5%;
	}
	
	.container24 .l-22-offset-right {
		position: relative;
		right: 91.66%;
	}
	
	.container24 .l-23-offset-right {
		position: relative;
		right: 95.83%;
	}
	
	.container24 .l-24-offset-right {
		position: relative;
		right: 100%;
	}
	
}

/****************************************************************
*                      GENERAL STYLE 	
*****************************************************************/

html {
	font-family: Courier New;
}
